.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.content {
  position: relative;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
}

p{
  font-size: 4rem;
}

body {
  overflow: hidden;
  background-color: #000; /* Set a dark background for contrast */
  font-family: sans-serif;
}
