.buttonTxt{
    background:  linear-gradient(90deg, rgba(142,0,255,1) 0%, rgba(186,22,22,1) 49%, rgba(19,55,167,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    /* background: linear-gradient(to right, #f32170, 
                    #ff6b08, #cf23cf, #eedd44); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text;  */
}